<div class="sidebar">
    <div class="logo">
        <img src="~/images/logo.png" alt="Study Helper" />
    </div>
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Дом</a></li>
            <li><a href="@Url.Action("Index", "Library")">Библиотека</a></li>
            <li><a href="@Url.Action("Profile", "Account")">Личный кабинет</a></li>
        </ul>
    </nav>
</div>
